#bt1{
    background-color: blue;
    padding: 20px;

}

#bt2{
    background-color: rgb(128, 255, 0);
    padding: 10px;
    
}

#bt3{
    background-color: rgb(255, 0, 187);
    padding: 40px;
    
}